html {
  background: url(bg.jpg)no-repeat center center fixed ;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

#main-logo{
  max-width: 250;
  display: block;
  margin-left: auto;
  margin-right: auto;


}

#main span{
  text-align: center;
  font-size: 70px;
  font-weight: bolder;

}
.inline-icon {
   vertical-align: top;
   font-size: 18px !important;
}
